body{
  background-color: rgb(18, 96, 254); 
  padding-top: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper{
  display: flex;
  background-color:  rgba(189, 242, 244, 0.882); 
  height: 90vh;
  width: 80vw; 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}

.sidebar{
 background-color: white;
 width: 20%;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
 box-shadow:0.9px 0px 15px cadetblue;
 z-index: 100;

}

.logo-wrapper{
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.logo{
  font-size:30px;
  font-weight: 700;
  color: rgb(159, 104, 31);
}

.sidebar-menu-list-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-menu-item-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
 }

.single-menu-item-wrapper:hover{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:rgb(18, 96, 254) ;
  background-color:rgb(183, 201, 234) ;
  width: 70%;
  height: 40px;
  margin: 5px;
  border-radius: 5px;
 }

.fa-icon{
 margin-right: 5px;
}



.devide-sidebar{
  margin-top: 20px;
  margin-bottom: 20px;
  width:80%;
  background-color: gray;
  box-shadow: 3px 3px 10px gray;
}

.navbar{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 10vh;
  width: 80%;
  border-top-right-radius: 5px;
 
}

.searchBar-wrapper {
  position: relative;
  margin-left: 30px;
  width: 100%;
}

input {
  width: calc(60% - 40px); 
  height: 35px;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  color: #aaa;;
  border: 1px solid lightgray; 
}

.search-icon {
  position: relative;
  right: 35px; 
  top: 50%;
  transform: translate(-15%, -3%);
  color: #aaa;
  cursor: pointer;
  
}


.bell-notification-wrapper{
  width:5%;
  
}


.profile-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(216, 225, 240, 0.89) ;
  margin: 10px;
  width: 30%;
  height: 45px;
  border-radius: 5px;
}

.profile-text-icon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
 
}

.profile-text-conatiner{
display: flex;
flex-direction: column;
justify-content: center;
margin: 0;

   
}

.nameText{
  font-size: 12px;
  font-weight:700;
  margin: 0;

}

.emailText{
  font-size: 10px;
  font-weight:600;
  margin: 0;
  color: rgb(116, 115, 115);
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden; 
  margin: 5px;
 
}

.avatar-icon {
  width: 100%;
  height: 100%;
}

.dotIcon-wrapper{
  padding-right: 15px;
  height: 45px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {

  .profile-text-conatiner{
    display: none;
  }

  .menu-text{
    display: none;
  }

  .logo{
    font-size:15px;
    font-weight: 700;
    color: rgb(159, 104, 31);
  }

}

@media screen and (min-width : 768px) and (max-width : 1024px) {
  .profile-text-conatiner{
    display: none;
  }

  .logo{
    font-size:20px;
    font-weight: 700;
    color: rgb(159, 104, 31);
  }

}